* {
    font-family: geometria;
}

.body {
    background-color: black;
}

.header {
    font-size: 50px;
    color: whitesmoke;
}

.paragraph {
    color: whitesmoke;
    font-size: xx-large;
}

.headerc {
    font-size: 100px;
    padding-top: 150px;
    color: whitesmoke;
    grid-area: auto;
    text-align: center;
    margin-bottom: -10px;
}

.paragraphf {
    font-size: 15px;
    text-align: center;
    color: rgba(245, 245, 245, 0.1);
}

.button {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-width: 2px;
    border-color: whitesmoke;
    background-color: black;
    color: whitesmoke;
    font-size: 40px;
    font-style: medium;
    transition-duration: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-style: solid;
    background-image: url(/images/space.jpg);
}

.button:hover {
    border-color: rgba(255, 255, 255, 0.432);
}

.button:active {
    border-color: white;
}

h6 {
    font-size: 15.5px;
    color: rgba(245, 245, 245, 0.1);
    margin-top: -380px;
}
